<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webjump\ApiExample\Api\Data\ExampleDataInterface" type="Webjump\ApiExample\Model\Data\Data"/>
    <preference for="Webjump\ApiExample\Api\ExampleInterface" type="Webjump\ApiExample\Model\Example"/>
</config>
